<h1>Text App</h1>
<p>Send a text to your friend!</p>


<%= form_tag("sms/send", method: "post") do %>
  <%= label_tag(:q, "Phone number:") %>
     <%= telephone_field(:user, :phone) %><br/>
     <%= label_tag(:m, "Message:") %>
  <%= text_field_tag(:m) %><br/>
 <%= submit_tag("Send") %>
  
  
<% end %>


<%= form_tag("/sms/send", method: "post") do %>
<!-- add form elements here -->
<% end %>

